<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Environmental impacts for farms</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link href="https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.css" rel="stylesheet" type="text/css" />
        <script src="https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.js"></script>

        <script th:src="@{/assets/js/leaflet.editable/leaflet.editable.js}" />
        <script th:src="@{/assets/js/config.js}" />
        <script th:src="@{/assets/js/leaflet-controls/leaflet-button-control.js}" />

        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/fonts.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/header.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/footer.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/imap.css}" />
    </head>
    <body style="height: 100%">
        <div>
            <header role="banner" id="global-header" class="">
                <div class="header-wrapper">
                    <div class="header-global">
                        <div class="header-logo">
                            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
                                <img style="visibility: visible;" th:src="@{/assets/images/govuk/gov.uk_logotype_crown.png}" width="40" height="31" alt="" /> GOV.UK
                            </a>
                        </div>
                    </div>
                    <div class="header-proposition" ng-controller="NavbarCtrl">
                        <div class="content">
                            <nav id="proposition-menu">
                                <a th:href="@{/}" id="proposition-name">Environmental impacts for farms</a>
                            </nav>
                        </div>
                    </div>                
                </div>
            </header>     
        </div>

        <div id="global-header-bar"></div>
        <div class="phase-banner" style="padding-left:10px">
            <p>
                <strong class="phase-tag">ALPHA</strong>
                <span>This is a new service – your <a th:href="@{/feedback}">feedback</a> will help us to improve it.</span>
            </p>
        </div>       
        <div style="height: calc(100% - 105px)">
            <div id="map" style="height: 100%; width:100%;"></div>
        </div>
        <div style="clear:both;"></div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var reportURL = /*[[@{report}]]*/ null;
            var endpointReportUrl = "";
            var generateButton = null;
            var geojsonTXT = /*[[${geojson}]]*/ null;
            var geojson = null;
            var polygon = null;

            L.EditControl = L.Control.extend({
                options: {
                    position: 'topleft',
                    callback: null,
                    kind: '',
                    html: ''
                },
                onAdd: function (map) {
                    var container = L.DomUtil.create('div', 'leaflet-control leaflet-bar'),
                            link = L.DomUtil.create('a', '', container);

                    link.href = '#';
                    link.title = 'Create a new ' + this.options.kind;
                    link.innerHTML = this.options.html;
                    L.DomEvent.on(link, 'click', L.DomEvent.stop)
                            .on(link, 'click', function () {
                                window.LAYER = this.options.callback.call(map.editTools);
                            }, this);

                    return container;
                }

            });

            function startAgain() {
                if (polygon !== null) {
                    polygon.removeFrom(map);
                }
                map.editTools.startPolygon();
            }

            function generateReport() {
                window.location = endpointReportUrl;
            }

            function updateReportLink(layer) {
                endpointReportUrl = reportURL + "?wkt=" + toWKT(layer);

                if (generateButton === null) {
                    var myButtonOptions = {
                        'text': 'Generate Report', // string
                        'onClick': generateReport, // callback function
                        'hideText': false, // bool
                        'styleClasses': 'button button-start'
                    };

                    generateButton = new L.Control.Button(myButtonOptions).addTo(map);
                }
            }

            // Based on https://gist.github.com/bmcbride/4248238
            function toWKT(layer) {
                var lng, lat, coords = [];
                if (layer instanceof L.Polygon || layer instanceof L.Polyline) {
                    var latlngs = layer.getLatLngs();
                    // Quick fix for nested latlngs
                    if (!(latlngs[0] instanceof L.latLng)) {
                        // Only interested in single polygons in this project
                        latlngs = latlngs[0];
                    }
                    for (var i = 0; i < latlngs.length; i++) {
                        coords.push(latlngs[i].lng + " " + latlngs[i].lat);
                        if (i === 0) {
                            lng = latlngs[i].lng;
                            lat = latlngs[i].lat;
                        }
                    }

                    if (layer instanceof L.Polygon) {
                        return "POLYGON((" + coords.join(",") + "," + lng + " " + lat + "))";
                    } else if (layer instanceof L.Polyline) {
                        return "LINESTRING(" + coords.join(",") + ")";
                    }
                } else if (layer instanceof L.Marker) {
                    return "POINT(" + layer.getLatLng().lng + " " + layer.getLatLng().lat + ")";
                }
            }

            var startPoint = [43.1249, 1.254];
            var map = L.map('map', {editable: true}).setView(startPoint, 16);

            var base = L.tileLayer(os_mapping_url, {
                attribution: 'Contains Ordnance Survey data &copy; Crown copyright and database right 2016',
                minZoom: 7,
                maxZoom: 18
            }).addTo(map);

            var osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                minZoom: 0,
                maxZoom: 6
            }).addTo(map);

            var wmsLayerNames = {
                'Nitrate Vulnerable Zones': 'wiyby:nvz_2013',
                'Surface Water Safeguard Zones': 'wiyby:sw_drw_pa_sgz',
                'Ground Water Safeguard Zones': 'wiyby:gw_drw_sgz_v3'
            };

            var wms = {};
            for (wmsLayerName in wmsLayerNames) {
                wms[getLegendHTML(wmsLayerName, wmsLayerNames[wmsLayerName])] = getTileLayerWMS(wmsLayerNames[wmsLayerName]);
            }

            for (wmsLayer in wms) {
                wms[wmsLayer].addTo(map);
            }

            L.control.layers({}, wms, {collapsed: false}).addTo(map);

            L.NewPolygonControl = L.EditControl.extend({
                options: {
                    position: 'topleft',
                    callback: startAgain,
                    kind: 'polygon',
                    html: '▰'
                }
            });
            map.addControl(new L.NewPolygonControl());

            map.on('editable:editing', function (e) {
                polygon = e.layer;
                updateReportLink(polygon);
            });

            map.on('editable:drawing:end', function (e) {
                polygon = e.layer;
                updateReportLink(polygon);
            });

            function getLegendHTML(layerTitle, layerName) {
                return '<img src="' +
                        local_wms_service_url +
                        '?REQUEST=GetLegendGraphic&VERSION=1.3.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LEGEND_OPTIONS=forceLabels:on&LAYER=' +
                        layerName +
                        '" alt="legend"/>';
            }

            function getTileLayerWMS(layerName) {
                return L.tileLayer.wms(local_wms_service_url, {
                    layers: layerName,
                    format: 'image/png',
                    transparent: true
                });
            }

            if (geojsonTXT !== null) {
                var geojson = eval("(" + geojsonTXT + ")");
                var geojsonPolygon = L.geoJson(geojson, {
                    style: {
                        "color": "#0000ff",
                        "weight": 4,
                        "opacity": 0.65
                    }
                });

                polygon = geojsonPolygon.getLayers()[0].addTo(map);
                polygon.enableEdit();
                map.fitBounds(polygon.getBounds());
                updateReportLink(polygon);
            } else {
                var southWest = L.latLng(49.92, -6.02),
                        northEast = L.latLng(55.91, 1.93),
                        bounds = L.latLngBounds(southWest, northEast);
                map.fitBounds(bounds);
            }
            /*]]>*/
        </script>        
    </body>
</html>

