<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Environmental impacts for farms</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link href="https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.css" rel="stylesheet" type="text/css" />
        <script src="https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.js"></script>

        <script th:src="@{/assets/js/leaflet.editable/leaflet.editable.js}" />
        <script th:src="@{/assets/js/leaflet-controls/leaflet-button-control.js}" />
        <script th:src="@{/assets/js/config.js}" />

        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/fonts.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/header.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/footer.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/legend.css}" />
    </head>
    <body>
        <div>
            <header role="banner" id="global-header" class="">
                <div class="header-wrapper">
                    <div class="header-global">
                        <div class="header-logo">
                            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
                                <img style="visibility: visible;" th:src="@{/assets/images/govuk/gov.uk_logotype_crown.png}" width="40" height="31" alt="" /> GOV.UK
                            </a>
                        </div>
                    </div>
                    <div class="header-proposition" ng-controller="NavbarCtrl">
                        <div class="content">
                            <nav id="proposition-menu">
                                <a th:href="@{/}" id="proposition-name">Environmental impacts for farms</a>
                            </nav>
                        </div>
                    </div>                
                </div>
            </header>     
        </div>

        <main id="content" role="main">
            <div id="global-header-bar"></div>
            <div class="phase-banner" style="padding-left:10px">
                <p>
                    <strong class="phase-tag">ALPHA</strong>
                    <span>This is a new service – your <a th:href="@{/feedback}">feedback</a> will help us to improve it.</span>
                </p>
            </div>       
            <div>
                <h1 class="heading-xlarge" style="margin-bottom:0.3em;">
                    Where is your farm?
                    <span class="heading-secondary">Change the shape by dragging the points around farm boundary</span>
                </h1>
            </div>
            <div>
                <div id="map" style="height: 600px; width:100%;"></div>
            </div>
            <div style="margin: 20px 0px 20px 0px;">
                <div style="float: left;">
                    <h2 class="heading-medium" style="margin-top: 0;">
                        <a th:href="@{/}">Start again</a>
                    </h2>
                </div>
                <a id="generate-report" class="button button-start disabled" style="float: right;" href="" role="button" onclick="return false;">See advice for highlighted boundary</a>
            </div>
            <div style="clear:both;">&nbsp;</div>
            <!--            <div style="margin-top: 10px;">
                            <div class="grid-row column-two-thirds">
                                <h1>Search Again</h1>
                                <form action="#" th:action="@{/}" th:object="${LocationResult}" method="post">
                                    <p><input class="input-box" style="width:60%; margin-right: 10px" type="text" th:field="*{query}" /><input class="button button-start" type="submit" value="Search" /></p>
                                </form>    
                            </div>
                        </div>
                        <div style="clear:both;"></div>-->
        </main>

        <div>
            <footer id="footer">
                <div class="footer-wrapper">
                    <div class="footer-meta">
                        <div class="footer-meta-inner">
                            <h2 class="visuallyhidden">Support links</h2>
                            <ul>
                                <li><a th:href="@{/help}">Help</a></li>
                                <li><a th:href="@{/help#cookies}">Cookies</a></li>
                                <li><a th:href="@{/feedback}">Contact</a></li>
                                <li><a th:href="@{/terms}">Terms and conditions</a></li>
                                <li>Built by <a class="external-link" href="https://jncc.defra.gov.uk">JNCC</a></li>
                            </ul>
                            <div class="open-government-licence">
                                <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
                            </div>
                        </div>

                        <div class="copyright">
                            <a class="crown-link" href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
                        </div>
                    </div>
                </div>
            </footer>        
        </div>          

        <script th:inline="javascript">
            /*<![CDATA[*/
            var reportURL = /*[[@{report}]]*/ null;
            var geojsonTXT = /*[[${geojson}]]*/ null;
            var geojson = null;
            var polygon = null;

            HTMLElement.prototype.removeClass = function (remove) {
                var newClassName = "";
                var i;
                var classes = this.className.split(" ");
                for (i = 0; i < classes.length; i++) {
                    if (classes[i] !== remove) {
                        newClassName += classes[i] + " ";
                    }
                }
                this.className = newClassName;
            };

            L.EditControl = L.Control.extend({
                options: {
                    position: 'topleft',
                    callback: null,
                    kind: '',
                    html: ''
                },
                onAdd: function (map) {
                    var container = L.DomUtil.create('div', 'leaflet-control leaflet-bar'),
                            link = L.DomUtil.create('a', '', container);

                    link.href = '#';
                    link.title = 'Create a new ' + this.options.kind;
                    link.innerHTML = this.options.html;
                    L.DomEvent.on(link, 'click', L.DomEvent.stop)
                            .on(link, 'click', function () {
                                window.LAYER = this.options.callback.call(map.editTools);
                            }, this);

                    return container;
                }

            });

            function startAgain() {
                if (polygon !== null) {
                    polygon.removeFrom(map);
                }
                map.editTools.startPolygon();
            }

            function updateReportLink(layer) {
                document.getElementById("generate-report").href = "report" + "?wkt=" + toWKT(layer);

                if (document.getElementById("generate-report").onclick !== "") {
                    document.getElementById("generate-report").onclick = "";
                    document.getElementById("generate-report").removeClass("disabled");
                }
            }

            // Based on https://gist.github.com/bmcbride/4248238
            function toWKT(layer) {
                var lng, lat, coords = [];
                if (layer instanceof L.Polygon || layer instanceof L.Polyline) {
                    var latlngs = layer.getLatLngs();
                    // Quick fix for nested latlngs
                    if (!(latlngs[0] instanceof L.latLng)) {
                        // Only interested in single polygons in this project
                        latlngs = latlngs[0];
                    }
                    for (var i = 0; i < latlngs.length; i++) {
                        coords.push(latlngs[i].lng + " " + latlngs[i].lat);
                        if (i === 0) {
                            lng = latlngs[i].lng;
                            lat = latlngs[i].lat;
                        }
                    }

                    if (layer instanceof L.Polygon) {
                        return "POLYGON((" + coords.join(",") + "," + lng + " " + lat + "))";
                    } else if (layer instanceof L.Polyline) {
                        return "LINESTRING(" + coords.join(",") + ")";
                    }
                } else if (layer instanceof L.Marker) {
                    return "POINT(" + layer.getLatLng().lng + " " + layer.getLatLng().lat + ")";
                }
            }

            function getLegendHTML(layerTitle, layerName) {
                return '<img src="' +
                        local_wms_service_url +
                        '?REQUEST=GetLegendGraphic&VERSION=1.3.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LEGEND_OPTIONS=forceLabels:on&LAYER=' +
                        layerName +
                        '" alt="legend"/>';
            }

            function getTileLayerWMS(layerName) {
                return L.tileLayer.wms(local_wms_service_url, {
                    layers: layerName,
                    format: 'image/png',
                    transparent: true
                });
            }

            var startPoint = [43.1249, 1.254];
            var map = L.map('map', {editable: true}).setView(startPoint, 16);

            L.tileLayer(os_mapping_url, {
                attribution: 'Contains Ordnance Survey data &copy; Crown copyright and database right 2016',
                minZoom: 7,
                maxZoom: 18
            }).addTo(map);

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                minZoom: 0,
                maxZoom: 6
            }).addTo(map);

            /**
             * Legend entity
             */
            var wmsLayerNames = {
                'Nitrate Vulnerable Zones': 'wiyby:nvz_2013',
                'Surface Water Safeguard Zones': 'wiyby:sw_drw_pa_sgz',
                'Ground Water Safeguard Zones': 'wiyby:gw_drw_sgz_v3'
            };

            var wms = {};
            for (wmsLayerName in wmsLayerNames) {
                wms[getLegendHTML(wmsLayerName, wmsLayerNames[wmsLayerName])] = getTileLayerWMS(wmsLayerNames[wmsLayerName]);
            }

            L.control.layers({}, wms).addTo(map);

            if (geojsonTXT !== null) {
                var geojson = eval("(" + geojsonTXT + ")");
                var geojsonPolygon = L.geoJson(geojson, {
                    style: {
                        "color": "#0000ff",
                        "weight": 4,
                        "opacity": 0.65
                    }
                });

                polygon = geojsonPolygon.getLayers()[0].addTo(map);
                polygon.enableEdit();
                map.fitBounds(polygon.getBounds());
                updateReportLink(polygon);
            } else {
                var southWest = L.latLng(49.92, -6.02),
                        northEast = L.latLng(55.91, 1.93),
                        bounds = L.latLngBounds(southWest, northEast);
                map.fitBounds(bounds);
            }

            var button = new L.Control.Button({
                'text': 'Draw New Boundary', // string
                'onClick': startAgain, // callback function
                'hideText': false, // bool
                'styleClasses': 'button-grey'
            }).setPosition('bottomleft').addTo(map);

            map.on('editable:editing', function (e) {
                polygon = e.layer;
                updateReportLink(polygon);
            });

            map.on('editable:drawing:end', function (e) {
                polygon = e.layer;
                updateReportLink(polygon);
            });
            /*]]>*/
        </script>        
    </body>
</html>

