<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Environmental impacts for farms</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js"></script>

        <script th:src="@{/assets/js/config.js}" />

        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/fonts.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/header.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/footer.css}" />
    </head>
    <body>
        <div>
            <header role="banner" id="global-header" class="">
                <div class="header-wrapper">
                    <div class="header-global">
                        <div class="header-logo">
                            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
                                <img style="visibility: visible;" th:src="@{/assets/images/govuk/gov.uk_logotype_crown.png}" width="40" height="31" alt="" /> GOV.UK
                            </a>
                        </div>
                    </div>
                    <div class="header-proposition" ng-controller="NavbarCtrl">
                        <div class="content">
                            <nav id="proposition-menu">
                                <a th:href="@{/}" id="proposition-name">Environmental impacts for farms</a>
                            </nav>
                        </div>
                    </div>                
                </div>
            </header>     
        </div>

        <main id="content" role="main">
            <div id="global-header-bar"></div>
            <div class="phase-banner" style="padding-left:10px">
                <p>
                    <strong class="phase-tag">ALPHA</strong>
                    <span>This is a new service – your <a th:href="@{/feedback}">feedback</a> will help us to improve it.</span>
                </p>
            </div>       
            <div>
                <div id="map" style="height: 600px; width:100%;"></div>
            </div>
            <div style="margin-top: 10px;">
                <a id="generate-report" class="button button-start disabled" style="float: right;" href="" role="button" onclick="return false;">Generate Report For Selected Location</a>
            </div>
            <div style="clear:both;"></div>
            <div style="margin-top: 10px;">
                <div class="grid-row column-two-thirds">
                    <h1>Search Again</h1>
                    <form action="#" th:action="@{/}" th:object="${LocationResult}" method="post">
                        <p><input class="input-box" style="width:60%; margin-right: 10px" type="text" th:field="*{query}" /><input class="button button-start" type="submit" value="Search" /></p>
                    </form>    
                </div>
            </div>
            <div style="clear:both;"></div>
        </main>

        <div>
            <footer id="footer">
                <div class="footer-wrapper">
                    <div class="footer-meta">
                        <div class="footer-meta-inner">
                            <h2 class="visuallyhidden">Support links</h2>
                            <ul>
                                <li><a th:href="@{/help}">Help</a></li>
                                <li><a th:href="@{/help#cookies}">Cookies</a></li>
                                <li><a th:href="@{/feedback}">Contact</a></li>
                                <li><a th:href="@{/terms}">Terms and conditions</a></li>
                                <li>Built by <a class="external-link" href="https://jncc.defra.gov.uk">JNCC</a></li>
                            </ul>
                            <div class="open-government-licence">
                                <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
                            </div>
                        </div>

                        <div class="copyright">
                            <a class="crown-link" href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
                        </div>
                    </div>
                </div>
            </footer>        
        </div>          

        <script th:inline="javascript">
            /*<![CDATA[*/
            HTMLElement.prototype.removeClass = function (remove) {
                var newClassName = "";
                var i;
                var classes = this.className.split(" ");
                for (i = 0; i < classes.length; i++) {
                    if (classes[i] !== remove) {
                        newClassName += classes[i] + " ";
                    }
                }
                this.className = newClassName;
            };

            var reportURL = /*[[@{report}]]*/ null;
            var map = L.map('map', {});

            var base = L.tileLayer(os_mapping_url, {
                attribution: 'Contains Ordnance Survey data &copy; Crown copyright and database right 2016',
                minZoom: 7,
                maxZoom: 18
            }).addTo(map);
            
            var osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                minZoom: 0,
                maxZoom: 6
            }).addTo(map);

            var wms = {
                "Nitrate Vulnerable Zones": L.tileLayer.wms(local_wms_service_url, {
                    layers: 'wiyby:nvz_2013',
                    format: 'image/png',
                    transparent: true
                }).addTo(map),
                "Surface Water Safeguard Zones": L.tileLayer.wms(local_wms_service_url, {
                    layers: 'sw_drw_pa_sgz',
                    format: 'image/png',
                    transparent: true
                }).addTo(map),
                "Ground Water Safeguard Zones": L.tileLayer.wms(local_wms_service_url, {
                    layers: 'gw_drw_sgz_v3',
                    format: 'image/png',
                    transparent: true
                }).addTo(map)
            };

            L.control.layers({}, wms).addTo(map);

            var editableLayers = new L.FeatureGroup();
            map.addLayer(editableLayers);

            var options = {
                position: 'topleft',
                draw: {
                    polyline: false,
                    circle: false,
                    marker: false,
                    polygon: {
                        allowIntersection: false, // Restricts shapes to simple polygons
                        drawError: {
                            color: '#e1e100', // Color the shape will turn when intersects
                            message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
                        },
                        shapeOptions: {
                            color: '#ff0000'
                        }
                    },
                    rectangle: {
                        shapeOptions: {
                            color: '#ff0000'
                        }
                    }
                },
                edit: {
                    featureGroup: editableLayers,
                    remove: false
                }
            };

            var drawControl = new L.Control.Draw(options);
            map.addControl(drawControl);

            map.on('draw:created', function (e) {
                var type = e.layerType,
                        layer = e.layer;

                editableLayers.clearLayers();
                editableLayers.addLayer(layer);
                wkt = toWKT(layer);
                updateReportLink(layer);
            });

            var geojson = /*[[${geojson}]]*/ null;
            var wkt = "";

            if (geojson !== null) {
                geojson = eval("(" + geojson + ")");

                var polygon = L.geoJson(geojson, {
                    style: {
                        "color": "#ff0000",
                        "weight": 2,
                        "opacity": 0.65
                    }
                });

                editableLayers.addLayer(polygon.getLayers()[0]);
                wkt = toWKT(polygon.getLayers()[0]);
                updateReportLink(polygon.getLayers()[0]);
                map.fitBounds(polygon.getLayers()[0].getBounds());
            } else {
                var southWest = L.latLng(49.92, -6.02),
                        northEast = L.latLng(55.91, 1.93),
                        bounds = L.latLngBounds(southWest, northEast);
                map.fitBounds(bounds);
            }

            function updateReportLink(layer) {
                document.getElementById("generate-report").href = reportURL + "?wkt=" + toWKT(layer);

                if (document.getElementById("generate-report").onclick !== "") {
                    document.getElementById("generate-report").onclick = "";
                    document.getElementById("generate-report").removeClass("disabled");
                }
            }

            // https://gist.github.com/bmcbride/4248238
            function toWKT(layer) {
                var lng, lat, coords = [];
                if (layer instanceof L.Polygon || layer instanceof L.Polyline) {
                    var latlngs = layer.getLatLngs();
                    for (var i = 0; i < latlngs.length; i++) {
                        coords.push(latlngs[i].lng + " " + latlngs[i].lat);
                        if (i === 0) {
                            lng = latlngs[i].lng;
                            lat = latlngs[i].lat;
                        }
                    }

                    if (layer instanceof L.Polygon) {
                        return "POLYGON((" + coords.join(",") + "," + lng + " " + lat + "))";
                    } else if (layer instanceof L.Polyline) {
                        return "LINESTRING(" + coords.join(",") + ")";
                    }
                } else if (layer instanceof L.Marker) {
                    return "POINT(" + layer.getLatLng().lng + " " + layer.getLatLng().lat + ")";
                }
            }
            /*]]>*/
        </script>        
    </body>
</html>

