<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Environmental impacts for farms</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link href="https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.css" rel="stylesheet" type="text/css" />
        <script src="https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.js"></script>
        <script th:src="@{/assets/js/config.js}" />

        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/fonts.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/header.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/footer.css}" />
    </head>
    <body>
        <div>
            <header role="banner" id="global-header" class="">
                <div class="header-wrapper">
                    <div class="header-global">
                        <div class="header-logo">
                            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
                                <img style="visibility: visible;" th:src="@{/assets/images/govuk/gov.uk_logotype_crown.png}" width="40" height="31" alt="" /> GOV.UK
                            </a>
                        </div>
                    </div>
                    <div class="header-proposition" ng-controller="NavbarCtrl">
                        <div class="content">
                            <nav id="proposition-menu">
                                <a th:href="@{/}" id="proposition-name">Environmental impacts for farms</a>
                            </nav>
                        </div>
                    </div>                
                </div>
            </header>     
        </div>

        <main id="content" role="main">
            <div id="global-header-bar"></div>
            <div class="phase-banner" style="padding-left:10px">
                <p>
                    <strong class="phase-tag">ALPHA</strong>
                    <span>This is a new service – your <a th:href="@{/feedback}">feedback</a> will help us to improve it.</span>
                </p>
            </div>             

            <div>                    
                <h1 class="heading-xlarge" th:if="${#strings.isEmpty(resource.locality)}" th:text="'Report for highlighted boundary'"></h1>
                <h1 class="heading-xlarge" th:if="not ${#strings.isEmpty(resource.locality)}" th:text="'Report for highlighted boundary near ' + ${resource.locality}"></h1>
                <div>
                    <div class="grid-row column-two-thirds">
                        <div id="map" style="height: 300px; width:100%;"></div>
                    </div>
                    <div class="grid-row column-third" style="float: right;">
                        <div id="minimap" style="height: 200px; width:100%;"></div>
                        <p>View on our <a th:href="@{/imap(wkt=${resource.wkt})}" target="_blank">interactive map</a>.</p>
                    </div>
                </div>
                <br />
                <br />
                <div style="clear: both; padding-top: 10px;"></div>
                <div th:if="${resource.ruleTypesMatched.containsKey('Statutory')}">
                    <h2 style="background: black; color: white; padding: 5px; margin-bottom: 5px;">Legal requirements</h2>
                    <div th:each="rule : ${resource.data}">
                        <div th:switch="${rule.Type}">
                            <div th:case="'Statutory'">
                                <h4 style="background: lightgrey; padding: 5px; border: black; border-style: solid; border-width: 1px;" th:utext="${rule.Heading}"></h4>
                                <p th:utext="${rule.Text}"></p>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${resource.ruleTypesMatched.containsKey('Recommended')}">
                    <h2 style="background: black; color: white; padding: 5px; margin-bottom: 5px;">Recommended actions</h2>
                    <div th:each="rule : ${resource.data}">
                        <div th:switch="${rule.Type}">
                            <div th:case="'Recommended'">
                                <h4 style="background: lightgrey; padding: 5px; border: black; border-style: solid; border-width: 1px;" th:utext="${rule.Heading}"></h4>
                                <p th:utext="${rule.Text}"></p>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </main>

        <div>
            <footer id="footer">
                <div class="footer-wrapper">
                    <div class="footer-meta">
                        <div class="footer-meta-inner">
                            <h2 class="visuallyhidden">Support links</h2>
                            <ul>
                                <li><a th:href="@{/help}">Help</a></li>
                                <li><a th:href="@{/help#cookies}">Cookies</a></li>
                                <li><a th:href="@{/feedback}">Contact</a></li>
                                <li><a th:href="@{/terms}">Terms and conditions</a></li>
                                <li>Built by <a class="external-link" href="https://jncc.defra.gov.uk">JNCC</a></li>
                            </ul>
                            <div class="open-government-licence">
                                <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
                            </div>
                        </div>

                        <div class="copyright">
                            <a class="crown-link" href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
                        </div>
                    </div>
                </div>
            </footer>        
        </div>        

        <script th:inline="javascript">
            /*<![CDATA[*/
            disableMapInteraction = function (map) {
                map.dragging.disable();
                map.touchZoom.disable();
                map.doubleClickZoom.disable();
                map.scrollWheelZoom.disable();
                map.boxZoom.disable();
                map.keyboard.disable();
                if (map.tap)
                    map.tap.disable();
            };

            var map = L.map('map', {zoomControl: false, scrollWheelZoom: false});
            var minimap = L.map('minimap', {zoomControl: false, scrollWheelZoom: false});

            disableMapInteraction(map);
            disableMapInteraction(minimap);

            L.tileLayer(os_mapping_url, {
                attribution: 'Contains Ordnance Survey data © Crown copyright and database right 2016',
                minZoom: 7,
                maxZoom: 18
            }).addTo(map);

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                minZoom: 0,
                maxZoom: 6
            }).addTo(map);

            var geojson = /*[[${resource.geojson}]]*/ null;
            geojson = eval("(" + geojson + ")");

            var wfd_geojson = /*[[${wfd_catchment}]]*/ null;
            wfd_geojson = eval("(" + wfd_geojson + ")");

            // Main map polygon
            var polygon = L.geoJson(geojson, {
                style: {
                    "color": "#ff0000",
                    "weight": 4,
                    "opacity": 0.65
                }
            });

            polygon.addTo(map);
            map.fitBounds(polygon.getBounds());

            // Mini-map polygons
            var mini_polygon = L.geoJson(geojson, {
                style: {
                    "color": "#ff0000",
                    "weight": 6,
                    "opacity": 0.65
                }
            });
            var wfd_polygon = L.geoJson(wfd_geojson);

            L.tileLayer(os_mapping_url, {
                attribution: 'Contains Ordnance Survey data © Crown copyright and database right 2016',
                minZoom: 7,
                maxZoom: 18
            }).addTo(minimap);

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                minZoom: 0,
                maxZoom: 6
            }).addTo(minimap);

            wfd_polygon.addTo(minimap);
            mini_polygon.addTo(minimap);

            if (wfd_geojson.features.length > 0) {
                minimap.fitBounds(wfd_polygon.getBounds());
            } else {
                minimap.fitBounds(mini_polygon.getBounds(), {padding: [50, 50]});
            }
            /*]]>*/
        </script>        
    </body>
</html>

